.footer {
  @include clearfix;
  background-color: $black;
  padding: space(8) space(4);
  color: $white;
}

.footer__logo {
  height: space(4);
  width: auto;
}

.footer__title {
  font-weight: 600;
  letter-spacing: .5px;
  margin: space(4) 0 space(2);
  display: block;

  @include bp(medium) {
    margin-top: 0;
  }
}

.footer__list {
  margin: 0;
  padding: 0;

  li {
    margin-bottom: space(1);
  }

  a {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid $black;
    transition: border-bottom .2s $base-ease;
  }

  a:hover {
    border-bottom: 1px solid $white;
  }
}

.footer__legal {
  @include clearfix;
  @include typesize(-1);
  width: span(all);
  float: left;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: space(4);
  padding-top: space(2);

}

.footer__legal-list {
  float: left;
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin-right: space(4);
  }

  a {
    color: $white;
  }
}
