.hero {
  padding: space(6) space(4);
  text-align: center;

  h1 {
    margin-bottom: 0;
  }

  @include bp(medium) {
    padding: space(10) space(4);
  }
}

.hero__text {
  line-height: 2.5rem;
  @include bp(max-width medium) {
    font-size: 1.9rem;
  }
}

.hero__icon {
  height: spacing(9);
  width: spacing(9);
}
