.about {
  @include clearfix;
  padding: space(8);

  @include bp(medium) {
    padding: 0;
    height: 544px;
    display: flex;
    align-items: center;
  }
}

.about__content {

  @include bp(medium) {
    width: 50%;
    float: left;
    padding: space(4);
  }

  @include bp(large) {
    padding: space(8);
  }
}

.about__photo {
  background-image: url('/static/img/about/bg.png');
  background-size: cover;
  height: 100%;
  display: none;

  @include bp(medium) {
    display: block;
    width: 50%;
    float: left;
  }
}
