.hero {
  background-color: $gray-light;
  padding: space(10) space(4);
  text-align: center;
  margin-bottom: space(2);

  @include bp(medium) {
    margin-bottom: space(0);
  }
}

.hero__text {

  @include bp(max-width medium) {
    @include typesize(2);
  }
}

.hero__icon {
  height: spacing(9);
  width: spacing(9);
}
