.hero {
  padding: space(11) space(4);
  text-align: center;

  h1 {
    margin-bottom: 0;
  }
}

.hero__text {

  @include bp(max-width medium) {
    @include typesize(2);
  }
}

.hero__icon {
  height: spacing(9);
  width: spacing(9);
}
