.hero {
  padding: space(10) space(4);
  text-align: center;
}

.hero__text {

  @include bp(max-width medium) {
    @include typesize(2);
  }
}

.hero__icon {
  height: spacing(9);
  width: spacing(9);
}
